<div align = "center">

# **Agrupaciones**

</div>

# Librerias

In [69]:
source("../src/data/agrupaciones.R")

## Data

In [70]:
data <- read.csv("../data/input/Muestra_Siniestros_4.csv")

In [71]:
unique(data$MARCA)

[1] "HYUNDAI"

In [72]:
head(data)

  Amparo Amp SumaDePagos Modelo Color      Carroceria MARCA   Referencia1
1 NA     NA  NA          2013   ROJO       SEDAN      HYUNDAI VELOSTER
2 NA     NA  NA          2010   PLATA      HATCHBACK  HYUNDAI ATOS [2]
3 NA     NA  NA          2012   PLATA      SEDAN      HYUNDAI ACCENT i25
4 NA     NA  NA          2008   BLANCO     SEDAN      HYUNDAI ATOS [2]
5 NA     NA  NA          2008   VINO TINTO SEDAN      HYUNDAI ACCENT VISION
6 NA     NA  NA          2007   PLATA      HATCHBACK  HYUNDAI ATOS [2]
  Referencia2 CLASE_FASECOLDA TIPO_VEHICULO SERVICIO   Sexo_Aseg Edad
1 COUPE       AUTOMOVIL       Livianos      Particular F         34
2 PRIME       AUTOMOVIL       Livianos      Particular M         67
3 1.4L        AUTOMOVIL       Livianos      Particular F         32
4 PRIME       AUTOMOVIL TAXI  Livianos      Particular M          0
5 GLS         AUTOMOVIL       Livianos      Particular F         53
6 SANTRO      AUTOMOVIL       Livianos      Particular F         35
  Desde      Hasta      Vr_Comercial Pago
1 2011-09-29 2012-11-14 56490000     No
2 2011-10-01 2012-10-01 16400000     No
3 2012-02-14 2013-02-14 34700000     No
4 2012-05-30 2013-05-30 12300000     No
5 2011-06-06 2012-06-06 23400000     No
6 2012-06-23 2013-06-23 16000000     No

In [73]:
data$Amp <- NULL
data$Desde <- as.Date(data$Desde)
data$Hasta <- as.Date(data$Hasta)

In [74]:
str(data)

'data.frame':	5000 obs. of  17 variables:
 $ Amparo         : chr  NA NA NA NA ...
 $ SumaDePagos    : num  NA NA NA NA NA NA NA NA NA NA ...
 $ Modelo         : int  2013 2010 2012 2008 2008 2007 2012 2007 2010 2011 ...
 $ Color          : chr  "ROJO" "PLATA" "PLATA" "BLANCO" ...
 $ Carroceria     : chr  "SEDAN" "HATCHBACK" "SEDAN" "SEDAN" ...
 $ MARCA          : chr  "HYUNDAI" "HYUNDAI" "HYUNDAI" "HYUNDAI" ...
 $ Referencia1    : chr  "VELOSTER" "ATOS [2]" "ACCENT i25" "ATOS [2]" ...
 $ Referencia2    : chr  "COUPE" "PRIME" "1.4L" "PRIME" ...
 $ CLASE_FASECOLDA: chr  "AUTOMOVIL" "AUTOMOVIL" "AUTOMOVIL" "AUTOMOVIL TAXI" ...
 $ TIPO_VEHICULO  : chr  "Livianos" "Livianos" "Livianos" "Livianos" ...
 $ SERVICIO       : chr  "Particular" "Particular" "Particular" "Particular" ...
 $ Sexo_Aseg      : chr  "F" "M" "F" "M" ...
 $ Edad           : int  34 67 32 0 53 35 65 0 44 0 ...
 $ Desde          : Date, format: "2011-09-29" "2011-10-01" ...
 $ Hasta          : Date, format: "2012-11-14" "2012-10-01" ...
 $ Vr_Comercial   : num  56490000 16400000 34700000 12300000 23400000 ...
 $ Pago           : chr  "No" "No" "No" "No" ...

In [75]:
  # Aplicar las agrupaciones a tu dataset
  data_agrupado <- agrupaciones(data)
  str(data_agrupado)

'data.frame':	5000 obs. of  17 variables:
 $ Amparo         : chr  NA NA NA NA ...
 $ SumaDePagos    : num  NA NA NA NA NA NA NA NA NA NA ...
 $ Modelo         : Factor w/ 3 levels "1993_1999","2000_2006",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ Color          : Factor w/ 4 levels "AMARILLO","BLANCO",..: 3 4 4 2 3 4 3 2 2 2 ...
 $ Carroceria     : Factor w/ 4 levels "CABINADO","HATCHBACK",..: 4 2 4 4 4 2 2 3 2 4 ...
 $ MARCA          : chr  "HYUNDAI" "HYUNDAI" "HYUNDAI" "HYUNDAI" ...
 $ Referencia1    : Factor w/ 4 levels "ACCENT VISION",..: 4 2 4 2 1 2 3 4 3 3 ...
 $ Referencia2    : Factor w/ 4 levels "GL","GLS","Otros",..: 3 4 3 4 2 3 1 3 1 1 ...
 $ CLASE_FASECOLDA: Factor w/ 4 levels "AUTOMOVIL","AUTOMOVIL TAXI",..: 1 1 1 2 1 1 1 4 1 1 ...
 $ TIPO_VEHICULO  : chr  "Livianos" "Livianos" "Livianos" "Livianos" ...
 $ SERVICIO       : chr  "Particular" "Particular" "Particular" "Particular" ...
 $ Sexo_Aseg      : chr  "F" "M" "F" "M" ...
 $ Edad           : Factor w/ 4 levels "19_41","41_63",..: 1 3 1 4 2 1 3 4 2 4 ...
 $ Desde          : Date, format: "2011-09-29" "2011-10-01" ...
 $ Hasta          : Date, format: "2012-11-14" "2012-10-01" ...
 $ Vr_Comercial   : num  56490000 16400000 34700000 12300000 23400000 ...
 $ Pago           : chr  "No" "No" "No" "No" ...

In [76]:
head(data_agrupado)

  Amparo SumaDePagos Modelo    Color  Carroceria MARCA   Referencia1
1 NA     NA          2007_2013 Otros  SEDAN      HYUNDAI Otros
2 NA     NA          2007_2013 PLATA  HATCHBACK  HYUNDAI ATOS [2]
3 NA     NA          2007_2013 PLATA  SEDAN      HYUNDAI Otros
4 NA     NA          2007_2013 BLANCO SEDAN      HYUNDAI ATOS [2]
5 NA     NA          2007_2013 Otros  SEDAN      HYUNDAI ACCENT VISION
6 NA     NA          2007_2013 PLATA  HATCHBACK  HYUNDAI ATOS [2]
  Referencia2 CLASE_FASECOLDA TIPO_VEHICULO SERVICIO   Sexo_Aseg Edad
1 Otros       AUTOMOVIL       Livianos      Particular F         19_41
2 PRIME       AUTOMOVIL       Livianos      Particular M         63_85
3 Otros       AUTOMOVIL       Livianos      Particular F         19_41
4 PRIME       AUTOMOVIL TAXI  Livianos      Particular M         Otros
5 GLS         AUTOMOVIL       Livianos      Particular F         41_63
6 Otros       AUTOMOVIL       Livianos      Particular F         19_41
  Desde      Hasta      Vr_Comercial Pago
1 2011-09-29 2012-11-14 56490000     No
2 2011-10-01 2012-10-01 16400000     No
3 2012-02-14 2013-02-14 34700000     No
4 2012-05-30 2013-05-30 12300000     No
5 2011-06-06 2012-06-06 23400000     No
6 2012-06-23 2013-06-23 16000000     No

In [79]:
write.csv(data_agrupado, "../data/processed/datos_agrupados.csv")