<div align="center">

# **Analisis Exploratorio**

</div>

## Librerias

In [14]:
library(dplyr)

## Data

In [3]:
df_input <- read.csv("../data/input/Muestra_Siniestros_4.csv")

In [11]:
names(df_input)

 [1] "Amparo"          "Amp"             "SumaDePagos"     "Modelo"
 [5] "Color"           "Carroceria"      "MARCA"           "Referencia1"
 [9] "Referencia2"     "CLASE_FASECOLDA" "TIPO_VEHICULO"   "SERVICIO"
[13] "Sexo_Aseg"       "Edad"            "Desde"           "Hasta"
[17] "Vr_Comercial"    "Pago"

In [10]:
dim(df_input)

[1] 5000   18

In [15]:
glimpse(df_input)

Rows: 5,000
Columns: 18
$ Amparo          <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, "PERDI…
$ Amp             <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, "PPD",…
$ SumaDePagos     <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, 263295…
$ Modelo          <int> 2013, 2010, 2012, 2008, 2008, 2007, 2012, 2007, 2010, …
$ Color           <chr> "ROJO", "PLATA", "PLATA", "BLANCO", "VINO TINTO", "PLA…
$ Carroceria      <chr> "SEDAN", "HATCHBACK", "SEDAN", "SEDAN", "SEDAN", "HATC…
$ MARCA           <chr> "HYUNDAI", "HYUNDAI", "HYUNDAI", "HYUNDAI", "HYUNDAI",…
$ Referencia1     <chr> "VELOSTER", "ATOS [2]", "ACCENT i25", "ATOS [2]", "ACC…
$ Referencia2     <chr> "COUPE", "PRIME", "1.4L", "PRIME", "GLS", "SANTRO", "G…
$ CLASE_FASECOLDA <chr> "AUTOMOVIL", "AUTOMOVIL", "AUTOMOVIL", "AUTOMOVIL TAXI…
$ TIPO_VEHICULO   <chr> "Livianos", "Livianos", "Livianos", "Livianos", "Livia…
$ SERVICIO        <chr> "Particular", "Particular", "Particular", "Particular"…
$ Sexo_Aseg       <chr> "F", "M", "F", "M", "F", "F", "F", NA, "F", "F", "M", …
$ Edad            <int> 34, 67, 32, 0, 53, 35, 65, 0, 44, 0, 50, 50, 36, 0, 35…
$ Desde           <chr> "2011-09-29", "2011-10-01", "2012-02-14", "2012-05-30"…
$ Hasta           <chr> "2012-11-14", "2012-10-01", "2013-02-14", "2013-05-30"…
$ Vr_Comercial    <dbl> 56490000, 16400000, 34700000, 12300000, 23400000, 1600…
$ Pago            <chr> "No", "No", "No", "No", "No", "No", "No", "No", "No", …

## Valores nulos

In [18]:
sum(is.na(df_input))

[1] 13585

hpta

In [19]:
colSums(is.na(df_input))

         Amparo             Amp     SumaDePagos          Modelo           Color
           4320            4320            4320               0               0
     Carroceria           MARCA     Referencia1     Referencia2 CLASE_FASECOLDA
              0               0               0               0               0
  TIPO_VEHICULO        SERVICIO       Sexo_Aseg            Edad           Desde
              0               0             625               0               0
          Hasta    Vr_Comercial            Pago
              0               0               0

## Exploracion de variables

### Amparo